@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Inter", sans-serif;
}

.text-sm {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

.text-sm::-webkit-scrollbar {
  width: 8px;
}

.text-sm::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.text-sm::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
